---
import Base from '../layouts/Base.astro';
import Hero from '../components/Hero.astro';
import { getContent } from '../i18n';

const content = getContent('zh');
---

<Base content={content}>
  <main>
    <Hero content={content} />
    <div class="h-[150vh]"></div>
  </main>
</Base>
